<header>
  <h1>Index of /dct0{Astro.originPathname}</h1>
  <h2>Dylan To <br /> Blog &amp; Portfolio</h2>
</header>
<style>
  header {
    font-family: "Times New Roman", Times, serif;
    margin-left: 1.5rem;
  }

  h2 {
    line-height: 1.4;
  }
</style>
